form.bg-white.web-portfolio-frm {
    background: #fff;
    width: 50%;
    padding: 15px 25px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group small {
    display: block;
}
input.txt-input {
    width: 100%;
    height: 35px;
    margin: 6px 0;
}
.web-portfolio-frm h1 {
   margin-bottom: 16px;
   font-size: 19px;
   text-transform: uppercase;
   font-weight: 600;
   text-decoration: underline;
}
.web-portfolio-frm .notice {
   padding: 10px;
}
.w30 {
   width: 30%;
   float: left;
   margin: 5px 13px;
}
.widefat {
   margin-top: 3px;
}
.txtarea {
   clear: both;
   margin: 5px 12px;
}
.txtarea textarea.widefat.txt30h {
   height: 200px;
}

/* Post Custom table styling */
.post-type-creator-cpt-table{
   width: 100%
}
.post-type-creator-cpt-table thead {
   font-weight: bold;
   font-size: 16px;
   height: 48px;
}
.post-type-creator-cpt-table input{
   width: 100%;
   min-height: 32px;
   margin-bottom: 10px;
}
.post-type-creator__key{
   width: 40%;
}
.post-type-creator__value{
   width: 60%;
}
#post-type-creator-add-new, .post-type-creator-remove-new{
   outline: none;
   border: 1px solid;
   border-radius: 0px;
   background-color: transparent;
   padding: 8px 12px;
   margin-top: 16px;
   margin-left: 3px;
}
.post-type-creator-remove-new{
   margin-top: -10px;
}