@import url('./bootstrap.min.css'); 
form.bg-white.web-portfolio-frm {
    background: #fff;
    width: 50%;
    padding: 15px 25px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group small {
    display: block;
}
input.txt-input {
    width: 100%;
    height: 35px;
    margin: 6px 0;
}
.web-portfolio-frm h1 {
   margin-bottom: 16px;
   font-size: 19px;
   text-transform: uppercase;
   font-weight: 600;
   text-decoration: underline;
}
.web-portfolio-frm .notice {
   padding: 10px;
}
.w30 {
   width: 30%;
   float: left;
   margin: 5px 13px;
}
.widefat {
   margin-top: 3px;
}
.txtarea {
   clear: both;
   margin: 5px 12px;
}
.txtarea textarea.widefat.txt30h {
   height: 200px;
}